[submodule "spring-boot-test"]
	path = spring-boot-test
	url = https://github.com/WeisonWei/spring-boot-test.git
[submodule "spring-boot-jpa"]
	path = spring-boot-jpa
	url = https://github.com/WeisonWei/spring-boot-jpa.git
[submodule "spring-boot-redisson"]
	path = spring-boot-redisson
	url = https://github.com/WeisonWei/spring-boot-redisson.git
[submodule "spring-boot-mybatis"]
	path = spring-boot-mybatis
	url = https://github.com/WeisonWei/spring-boot-mybatis.git
[submodule "spring-boot-mybatis-plus"]
	path = spring-boot-mybatis-plus
	url = https://github.com/WeisonWei/spring-boot-mybatis-plus.git
[submodule "spring-boot-redis"]
	path = spring-boot-redis
	url = https://github.com/WeisonWei/spring-boot-redis.git
[submodule "spring-boot-elasticsearch"]
	path = spring-boot-elasticsearch
	url = https://github.com/WeisonWei/spring-boot-elasticsearch.git
[submodule "spring-boot-webflux"]
	path = spring-boot-webflux
	url = https://github.com/WeisonWei/spring-boot-webflux.git
[submodule "spring-boot-docker"]
	path = spring-boot-docker
	url = https://github.com/WeisonWei/spring-boot-docker.git
[submodule "spring-boot-drools"]
	path = spring-boot-drools
	url = https://github.com/WeisonWei/spring-boot-drools.git
