[submodule "spring-boot-test"]
	path = spring-boot-test
	url = https://github.com/WeisonWei/spring-boot-test.git
[submodule "spring-boot-jpa"]
	path = spring-boot-jpa
	url = https://github.com/WeisonWei/spring-boot-jpa.git
[submodule "spring-boot-redisson"]
	path = spring-boot-redisson
	url = https://github.com/WeisonWei/spring-boot-redisson.git
[submodule "spring-boot-mybatis"]
	path = spring-boot-mybatis
	url = https://github.com/WeisonWei/spring-boot-mybatis.git
[submodule "spring-boot-mybatis-plus"]
	path = spring-boot-mybatis-plus
	url = https://github.com/WeisonWei/spring-boot-mybatis-plus.git
[submodule "spring-boot-redis"]
	path = spring-boot-redis
	url = https://github.com/WeisonWei/spring-boot-redis.git
[submodule "spring-boot-elasticsearch"]
	path = spring-boot-elasticsearch
	url = https://github.com/WeisonWei/spring-boot-elasticsearch.git
[submodule "spring-boot-webflux"]
	path = spring-boot-webflux
	url = https://github.com/WeisonWei/spring-boot-webflux.git
[submodule "spring-boot-docker"]
	path = spring-boot-docker
	url = https://github.com/WeisonWei/spring-boot-docker.git
[submodule "spring-boot-drools"]
	path = spring-boot-drools
	url = https://github.com/WeisonWei/spring-boot-drools.git
[submodule "spring-boot-mongo"]
	path = spring-boot-mongo
	url = https://github.com/WeisonWei/spring-boot-mongo.git
[submodule "spring-boot-starter"]
	path = spring-boot-starter
	url = https://github.com/WeisonWei/spring-boot-starter.git
[submodule "spring-boot-rest-docs"]
	path = spring-boot-rest-docs
	url = https://github.com/WeisonWei/spring-boot-rest-docs.git
[submodule "spring-boot-cache"]
	path = spring-boot-cache
	url = https://github.com/WeisonWei/spring-boot-cache.git
[submodule "spring-boot-batch"]
	path = spring-boot-batch
	url = https://github.com/WeisonWei/spring-boot-batch.git
[submodule "spring-boot-canal"]
	path = spring-boot-canal
	url = https://github.com/WeisonWei/spring-boot-canal.git
[submodule "spring-boot-graphql"]
	path = spring-boot-graphql
	url = https://github.com/WeisonWei/spring-boot-graphql.git
[submodule "spring-boot-rabbitmq"]
	path = spring-boot-rabbitmq
	url = https://github.com/WeisonWei/spring-boot-rabbitmq.git
[submodule "spring-boot-kafka"]
	path = spring-boot-kafka
	url = https://github.com/WeisonWei/spring-boot-kafka.git
[submodule "spring-boot-rocketmq"]
	path = spring-boot-rocketmq
	url = https://github.com/WeisonWei/spring-boot-rocketmq.git
[submodule "spring-boot-sse"]
	path = spring-boot-sse
	url = https://github.com/WeisonWei/spring-boot-sse.git
[submodule "spring-boot-config"]
	path = spring-boot-config
	url = https://github.com/WeisonWei/spring-boot-config.git
